.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    background: #4b4b4b;
}
.expense-item__description {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    flex: 1 1;
}
.expense-item h2 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    flex: 1;
    margin: 0 1rem;
    text-align: left;
}
.expense-item__price {
    font-size: 1.6rem; 
    font-weight: 600;
    color: #fff;
    padding: 0.5rem;
    background: rgb(193 4 4);
    border: 1px solid #fff;
    border-radius: 10px;
}
.expense-item:first-child {
    margin-top: 0px;
}
.expense-item:last-child {
    margin-bottom: 0px;
}
